body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#cbb4ff,#f4e8ff);
}

header {
  padding: 20px;
  font-size: 24px;
}

.hero {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

canvas {
  width: 300px;
  height: 300px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}
