body {
  margin: 0;
  font-family: Poppins, Arial;
  background: #f5f3ff;
}

.navbar {
  background: #5b3df5;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: white;
  color: #5b3df5;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel {
  padding: 40px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}
